<%- include ("includes/header", {
   "title": "Error"
}) %>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <%- include ("includes/ResponseAlert", {
        "request": request
    }) %>
</div>

<%- include ("includes/footer") %>